<link rel="stylesheet" href="/assets/css/menu.css">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top position-relative">
  <div class="container-fluid">
    <!-- Logo à esquerda -->
    <div>
      <button class="btn btn-outline ms-2" id="themeToggle" title="Alternar tema" style="padding-top: 0px;">
        <i class="bi bi-moon-fill" id="themeIcon"></i>
      </button>
      <a class="navbar-brand" href="#">Logado</a>
    </div>

    <!-- Botão offcanvas (mobile) -->
    <button id="btnMobile" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
      </div>
      <div class="offcanvas-body d-lg-flex justify-content-lg-end align-items-lg-center w-100">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Veículos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Listar</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-gear" ></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a href="/usuario/perfil" class="dropdown-item" id="linkPerfilLogado">
                            <img id="iconePerfilMenu" src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="Perfil" style="width: 24px; height: 24px; border-radius: 50%; object-fit: cover; margin-right: 8px;">
                            <span id="nomeUsuarioMenu">Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/usuario/login" id="buttonSairLogado">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sair</span>
                        </a>
                    </li>
                </ul>
            </li>          
        </ul>
      </div>
    </div>
  </div>
</nav>

<script type="module" src="/assets/js/menuLogadoScript.js"></script>
<script type="module" src="/assets/js/menu.js"></script>
<script type="module" src="/assets/js/alterar_tema.js"></script>