@media (min-width: 992px) {
    .navbar-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
    }
  }

#btnMobile{
  margin-left: auto;
}

.itens-card {
  min-height: 60px;
}